<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
  <div id="all">
      <div class="container-fluid">
          <link href="https://artalk.jamesflare.com/dist/Artalk.css" rel="stylesheet">
          <script src="https://artalk.jamesflare.com/dist/Artalk.js"></script>
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>
